//Colores
$company-name-color: #FFA356;
$header-background-color: #202B23;
$footer-background-color: #202B23;
$background-color: #D6FFBC;
$title-font-color: #2E4E37;
$title-description-font-color: #2E4E37;
$normal-font-color: #2E4E37;

$button-background-color: #243F2E;
$button-font-color: #FFFFFF;
//SHUSHETU
body{
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: $background-color;
  #main{
    max-width: 980px;
    margin: 0 auto;
  }
  a.header:hover{
    color: white !important;
  }
  .section{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;

    &#proyectos{
      margin-bottom:15px;
    }

    .content {
      padding-top: 15px;
      .segment {
        text-align: left;
        //background-color: $background-color;
        background-color: white;
        border-radius: 20px;
        border: 1px rgba(0, 0, 0, .2) solid;
      }
    }
  }
  .cover {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $header-background-color;
    height: 280px;
    //padding-left: 300px;
    //padding-right: 300px;

    h1{
      padding-top: 0px;
      font-size: 60pt;
    }

    h2{
      padding-top: 1px;
      padding-bottom: 1px;
      margin: 0px 0px 0px 0px;
    }

    h3{
      margin: 0px 0px 0px 0px;
    }
    img{
      height: 300px;
    }
  }
  .foot {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: $footer-background-color;
    text-align: center;
    h1{
      margin-top:-20px;
      padding-top: 0px;
    }
    -moz-box-shadow:    0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -2px 5px 0px rgba(50, 50, 50, 0.75);
  }
  #nav {
    z-index: 10;
    margin-top: -5px;
    .menu{
      background-color: $header-background-color;
      -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      #navtitle{
        // display: none;
      }
    }
  }
  .text {
    &.title {
      color: $title-font-color;
    }
    &.title-description {
      color: $title-description-font-color;
    }
    &.normal{
      color: $normal-font-color;
    }
    &.company-title{
      color: $company-name-color;
    }
  }
  .personel{
    text-align: center;
  }

  .fb-page{
    border-radius: 20px;
    margin-top: 10px;
    border-color: grey;
  }

  .ui.label{
    color: $button-font-color;
    background-color: $button-background-color;
  }
}
