//Colores
$company-name-color: #CC333F;
$header-background-color: #ABEEF5;
$footer-background-color: #ABEEF5;
$background-color: #00A0B0;
$title-font-color: #ECC85B;
$title-description-font-color: #6A4A3C;
$normal-font-color: #6A4A3C;

$button-background-color: $header-background-color;
$button-font-color: $normal-font-color;
//SHUSHETU
body{
  margin: 0;
  padding: 0;
  color: $title-description-font-color;
  background-color: $background-color;
  #main{
    max-width: 980px;
    margin: 0 auto;
  }

  .section{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;

    &#proyectos{
      margin-bottom:15px;
      
      #moneyscanner {
        text-align: center;
        img {
          height: 100px;
          width: 100px;
        }
        .video {
          margin-top: 30px;
        }
      }

    }

    .content {
      padding-top: 15px;
      .segment {
        text-align: left;
        //background-color: $background-color;
        background-color: $header-background-color;
        border-radius: 20px;
        border: 1px rgba(0, 0, 0, .2) solid;
      }
    }
  }
  .cover {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $header-background-color;
    height: 280px;
    //padding-left: 300px;
    //padding-right: 300px;

    h1{
      padding-top: 0px;
      font-size: 60pt;
    }

    h2{
      padding-top: 1px;
      padding-bottom: 1px;
      margin: 0px 0px 0px 0px;
    }

    h3{
      margin: 0px 0px 0px 0px;
    }
    img{
      height: 300px;
    }
  }
  #nosotros {
    .card.personel {
      background-color: $header-background-color;
      a{
        color: $title-description-font-color;
      }
      .date {
        min-height: 3em;
        margin: 10px auto;
      }
    }
    .title-description {
      color: $title-font-color;
    }
  }
  .foot {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: $footer-background-color;
    text-align: center;
    h1{
      margin-top:-20px;
      padding-top: 0px;
    }
    -moz-box-shadow:    0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -2px 5px 0px rgba(50, 50, 50, 0.75);
  }
  #nav {
    z-index: 10;
    margin-top: -5px;
    .menu{
      background-color: $header-background-color;
      -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      .navtitle{
        display: none;
        color: $company-name-color;
      }
      a.item {
        color: $title-description-font-color;
      }
    }
  }
  .text {
    &.title {
      color: $title-font-color;
    }
    &.title-description {
      color: $title-description-font-color;
    }
    &.normal{
      color: $normal-font-color;
    }
    &.company-title{
      color: $company-name-color;
    }
  }
  .personel{
    text-align: center;
  }

  .ui.label{
    color: $button-font-color;
    background-color: $button-background-color;
  }
  
  .page.msc {
    .video {
      margin-top: 30px;
      iframe {
        width: 600px;
        height: 400px;
      }
    }
    ul li a {
      color: inherit;
      &:hover {
        color: $title-font-color;
      }
    }
  }

}
